/*
        Flexible Box
     * For Parent
    - display: flex => To Start Flexible Box
    - flex-direction: row => Default Value
    - flex-wrap: nowrap => Default Value
    - flex-flow: row nowrap => flex-direction + flex-wrap
    ---
    - justify-content: flex-start => Default Value
    - justify-content: space-between => space between elements
    - justify-content: space-around => space around elements
    - justify-content: space-evenly => space between + around elements
    ---
    - align-items: stretch => Stretch the items to take up the full height of the container. This is default value
    - align-content: stretch => Default Value
     * For child
    - flex-grow: 0 => Default Value
    - flex-shrink: 1 => Default Value
    - order: 1 => to order the element
    - flex-basis: auto => Default Value = wifth + height
    - flex: [ <flex-grow> ] [ <flex-shrink> ]? [ <flex-basis
    - align-self: auto => Default Value
*/
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.parent1 {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #ff5722;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 5px 1px #ff5722,-5px 1px #02a9f4;
    font-size: 20px;
}
/* 2 */
.parent2 {
    display: flex;
    width: 600px;
    height: 300px;
    padding: 10px;
    margin: 10px auto;
    background-color: #eee;
    flex-flow: wrap row;
    align-content: space-between;
    justify-content: space-between;
}
.parent2 div {
    display: flex;
    background-color: #f44336;
    color: white;
    width: calc(95%/3);
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
}
/* 3 */
.parent3 {
    display: flex;
    width: 600px;
    height: 300px;
    padding: 10px;
    background-color: #eee;
    margin: 10px auto;
    flex-flow: wrap row;
    justify-content: space-between;
    
}
.parent3 div {
    display: flex;
    background-color: rgb(96,125,138);
    flex-basis: calc(95%/3);
    align-items: center;
    justify-content: center;
}
.parent3 .one{
    align-self: flex-end;
    height: 40px;
    order: 6;
}
.parent3 .two {
    order: 5;
}
.parent3 .three {
    height: 40px;
    order: 2;
}
.parent3 .four {
    order: 3;
}
.parent3 .five {
    order: 4;
}
.parent3 .six {
    order: 1;
}
/* 4 */
.parent4 {
    display: flex;
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 10px auto;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.parent4 div {
    padding: 30px 10px;
    display: flex;
    background-color: #029688;
    color: white
}
.parent4 .one ,
.parent4 .three {
    align-self: flex-end;
}
.parent4 .two {
    width: calc(100%/2);
    align-content: center;
    justify-content: center;
}
/* 5 */
.parent5 {
    display: flex;
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 10px auto;
    padding: 10px;
    justify-content: space-between;
}
.parent5 div {
    display: flex;
    width: calc(70%/4);
    background-color: #f44336;
    height: calc(100%/2);
    justify-content: center;
    align-items: center;
    color: white;
}
.parent5 .one {
    order: 2;
    background-color: #ff9801;
}
.parent5 .two {
    order: 3;
    background-color: #8bc34a;
    align-self: flex-end;
}
.parent5 .three {
    order: 4;
    background-color: #7a5548;
}
.parent5 .four {
    order: 1;
    background-color: #673ab7;
    align-self: flex-end;
}
/* 6 */
:root {
    --padding: 10px;
    --margin: 10px;
    --background-color: #dddddd;
}
.page {
    /* width: 1200px;
    height: 600px; */
    background-color: #eee;
    overflow: hidden;
    margin: var(--mainMargin);
    padding: var(--mainPadding);
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo, 
.links {
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    justify-content: center;
    width: calc(100%/6);
    height: 40px;
}
.links {
    flex-grow: 1;
    justify-content: flex-end;
    list-style-type: none;
}
li {
    padding-left: 20px;
}
.main-area {
    display: flex;
    justify-content: space-between;
}
.main-area div {
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    height: 500px;
    width: calc(100%/5);
}
.main-area .content {
    flex-grow: 2;
}
.footer {
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}
.footer div {
    margin: var(--margin);
    padding: var(--padding);
}