/* 
    * Block
    - take full width if no width
    - add line break
    - respect  Padding, Margin, width, Height 

    * Inline
    - do not respect Width, Height
    - respect Padding and Margin (just right and left)
    - do not add line break
    - allow elements before and after it

    * Inline-Block
    - allow elements before and after it
    - respect  Padding, Margin, width, Height 
*/

.shape-1,
.shape-2,
.shape-3 {
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}
.shape-1 {
    border: 5px red solid;
    outline: 5px black solid;
}

.shape-2 {
    border: 5px;
    border-color: blue green;
    border-style: solid;
    outline: 5px black solid;
}

.shape-3 {
    border: 5px dashed;
    border-color: red green blue yellow;
    outline: 5px black solid;
}
/* 2 */
.one,
.two,
.three {
    width: 400px;
    background-color: #eee;
    padding: 20px;

}
.two {
    visibility: hidden;
}
.one {
    border-left: 5px rgb(172, 12, 39) solid;
    outline: 5px #eee solid;

}
.three {
    border-left: 5px rgb(31, 12, 172) solid;
    outline: 5px #eee solid;

}