/* 
    * Block
    - take full width if no width
    - add line break
    - respect  Padding, Margin, width, Height 

    * Inline
    - do not respect Width, Height
    - respect Padding and Margin (just right and left)
    - do not add line break
    - allow elements before and after it

    * Inline-Block
    - allow elements before and after it
    - respect  Padding, Margin, width, Height 
*/

div {
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}
.shape-1 {
    border: 5px red solid;
    outline: 5px black solid;
}

.shape-2 {
    border: 5px;
    border-color: blue green;
    border-style: solid;
    outline: 5px black solid;
}

.shape-3 {
    border: 5px dashed;
    border-color: red green blue yellow;
    outline: 5px black solid;
}